<form method='post' action='/events/create'>

<p>Name:  <input type='text' name='organizer_name'></p>
<p>Email: <input type='text' name='organizer_email'></p>
<p>Date:  <input type='date' name='date'></p>
<input type='submit' value='Create Event'>
</form>